<div class="container-fluid bg-transparent text-white pb-4 body-blob-background-2 vh-45 position-relative">
    <div class="row pt-5 position-absolute bottom-0 w-100 mb-2">
        <div class="col-md-4 offset-md-1">
            <p class="ms-2">©2024 - All rights Reserved (Bahi Khata Inc.)</p>
            <div class="row mb-2">
                <ul class="social list-unstyled list-group list-group-horizontal">
                    <li class="bg-light m-2">
                        <a href="https://twitter.com/bahikhata">
                            <span class="fab fa-twitter p-social-btns fa-2x" style="color: #DC3545;"></span>
                        </a>
                    </li>

                    <li class="bg-light m-2">
                        <a href="https://www.linkedin.com/company/18652536/">
                            <span class="fab fa-linkedin p-social-btns fa-2x" style="color: #DC3545;"></span>
                        </a>
                    </li>

                    <li class="bg-light m-2">
                        <a href="https://www.facebook.com/thebahikhata/">
                            <span class="fab fa-facebook-square fa-2x p-social-btns" style="color: #DC3545;"></span>
                        </a>
                    </li>

                    <li class="bg-light m-2">
                        <a href="https://api.whatsapp.com/send?phone=917456883325">
                            <span class="fab fa-whatsapp p-whatsapp fa-2x" style="color: #DC3545;"></span>
                        </a>
                    </li>

                    <li class="bg-light m-2">
                        <a href="https://www.youtube.com/channel/UCc1ic8SVq93GdeI6MutJR2A/">
                            <span class="fab fa-youtube p-youtube fa-2x" style="color: #DC3545;"></span>
                        </a>
                    </li>

                    <li class="bg-light m-2">
                        <a href="mailto: abhijeet@bahikhata.org">
                            <span class="fas fa-envelope p-mail fa-2x" style="color: #DC3545;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-6">
            <h3 class="text-uppercase">Company</h3>
            <ul class="list-unstyled">
                <li><a href="{{@site.url}}/aboutus/" class="text-light text-decoration-none">About Us</a></li>
                <li><a href="{{@site.url}}/contact-us/" class="text-light text-decoration-none">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-6">
            <h3 class="text-uppercase">Partners</h3>
            <ul class="list-unstyled">
                {{!-- <li><a href="#" class="color-2">Land Owners</a></li>
                <li><a href="#" class="color-2">Franchise</a></li> --}}
                <li><a href="#" class="text-light text-decoration-none">Investors</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6">
            <h3 class="text-uppercase">Legal</h3>
            <ul class="list-unstyled">
                <li><a href="{{@site.url}}/terms/" class="text-light text-decoration-none">Terms of Services</a></li>
                <li><a href="{{@site.url}}/privacy-policy/" class="text-light text-decoration-none"> Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</div>